<div class="team">
  <ul class="list-inline text-center">
    <% ["jacques", "seb", "romain"].each do |member| %>
      <li>
        <%= image_tag "#{member}.png", class: "img-circle", width:"90px" %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>
</div>
